In [2]:
import compton.Dataloader as dl
import os
from sympy import symbols, Eq, latex
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
from scipy.interpolate import interp1d

In [3]:
print(os.getcwd())

c:\Users\casey\advanced_exp\FAFO

In [4]:
data = dl.load_gamma_count('../Databases/Compton/BBL_S0_A0.csv')
display(data)

      Channel        Energy (keV)   Counts
0     Channel        Energy (keV)   Counts
1           1   0.755919873714447        0
2           2   1.511839747428894        0
3           3   2.267759621143341        0
4           4   3.023679494857788        0
...       ...                 ...      ...
1020     1020    771.038271188736       36
1021     1021   771.7941910624504       34
1022     1022   772.5501109361649       39
1023     1023   773.3060308098793       51
1024     1024   774.0619506835938       36

[1025 rows x 3 columns]

In [7]:
display(data)
channel = data['Channel']
energy = data['Energy (keV)']
count = data['Counts']

      Channel        Energy (keV)   Counts
0     Channel        Energy (keV)   Counts
1           1   0.755919873714447        0
2           2   1.511839747428894        0
3           3   2.267759621143341        0
4           4   3.023679494857788        0
...       ...                 ...      ...
1020     1020    771.038271188736       36
1021     1021   771.7941910624504       34
1022     1022   772.5501109361649       39
1023     1023   773.3060308098793       51
1024     1024   774.0619506835938       36

[1025 rows x 3 columns]

In [14]:
angles = [130,120,110,100,90,80,70,60,50,40,30,20,10,0]

all_info = []

for ii in range(len(angles)):
    data = dl.load_gamma_count('../Databases/Compton/BBL_S1_A' + str(angles[ii]) + '.csv')
    all_info.append(data)

0             Energy (keV)
1        0.755919873714447
2        1.511839747428894
3        2.267759621143341
4        3.023679494857788
               ...
1020      771.038271188736
1021     771.7941910624504
1022     772.5501109361649
1023     773.3060308098793
1024     774.0619506835938
Name: Energy (keV), Length: 1025, dtype: object